{% extends 'base.html' %}
{% block content %}
     {% load static %}

<div class="quizwrapper">
<h1 class="mainLogo">{{ cats }}</h1>

  {% if  category_posts %}

      <div class="col-xl-7" style="position:relative;">


                <div class="animeCardWrapper">
               <div><br></div>
                          {% for cospblog in category_posts %}
                             {% if cospblog.post_image %}
                                 <div class="animeCard">
                            <a href="{% url 'postarticle' cospblog.pk %}"><img src="{{ cospblog.post_image.url }}">
                             {% else %}

                            <img src="{% static 'img/demonslayer.png' %}" alt="">
                             {% endif %}
                             <p class="animeTitle"> {{  cospblog.post_title }}</p>
                             </div>
                                {% endfor %}

            </div>
        </div>

    {% else %}
    <h2>For now there is no cosplays for that title!</h2>
    {% endif %}
<br>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

{% endblock %}


