{% block content %}
<!DOCTYPE html>
 {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeminA</title>



    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    .quizwrapper {
    background:rgba(67,95,213,.70);
     margin-left: 170px;
    margin-right: 170px;
        border-radius: 90px;text-align: center;
        font-size:20px;color:#fff;
 }
input[type=radio]{
    width: 20px;
    height: 20px;
}
</style>
<body>


<header class="header">
    <div class="container-xl">
        <div class="row justify-content-between">
            <div class="col-xl-3">
                <a href="/" class="mainLogo">AnimeMina</a>
            </div>
            <div class="col-xl-5">
                <nav>
                    <a href="{% url 'mainpage' %}">main</a>
                    <a href="{% url 'category_menu' %}">categories</a>
                    <a href="{% url 'quiz' %}">quiz</a>
                    <a href="{% url 'jumgame' %}">jumgame</a>
                    <a href="{% url 'test' %}">tests</a>
                </nav>
            </div>

            <div class="col-xl-3" style="display: flex; justify-content: space-around">
            {% if user.is_authenticated%}

                 <ul class="navbar-nav ml-auto">
                 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <button > {{ user.username }} </button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'post_favourite_list' %}">Favourites</a></li>
            <li><a class="dropdown-item" href="{% url 'create_post' %}">Create New Blog</a></li>
            <li><a class="dropdown-item" href="{% url 'addevent' %}">Create New Event</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Change Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">LogOut </a></li>

          </ul>


         {% endif %}





{% if not user.is_authenticated%}
            <li class="nav-item">
              <a href="{% url 'login' %}"> <button class="loginFormShowBtn">Login </button></a>
                 <a  href="{% url 'registration' %}"> <button class="loginFormShowBtn">Register </button></a>

            </li>
        {% endif %}
        </ul>

            </div>
        </div>
    </div>
</header>



{% block test %}

<div class="quizwrapper">
<p>
    <script type="text/javascript" language="JavaScript">
      var res = "31142";

      function check_me() {
        var count = 0;
        with (document.test) {
          if (!Q1[0].checked && !Q1[1].checked && !Q1[2].checked && !Q1[3].checked) {
            count += 1
          }
          ;
          if (!Q2[0].checked && !Q2[1].checked && !Q2[2].checked && !Q2[3].checked) {
            count += 1
          }
          ;
          if (!Q3[0].checked && !Q3[1].checked && !Q3[2].checked && !Q3[3].checked) {
            count += 1
          }
          ;
          if (!Q4[0].checked && !Q4[1].checked && !Q4[2].checked && !Q4[3].checked) {
            count += 1
          }
          ;
          if (!Q5[0].checked && !Q5[1].checked && !Q5[2].checked && !Q5[3].checked) {
            count += 1
          }
          ;
          if (count > 0) alert("You have not completed all the tasks. Test yourself!")
          else answer();
        }
      }

      function control(k, f1, f2, f3, f4, f5) {
        if (k == 1 && f1.checked) return true;
        if (k == 2 && f2.checked) return true;
        if (k == 3 && f3.checked) return true;
        if (k == 4 && f4.checked) return true;
        if (k == 5 && f5.checked) return true;
        return false;
      }

      function answer() {
        answ = "";
        with (document) {
          answ += control(res.charAt(0), test.Q1[0], test.Q1[1], test.Q1[2], test.Q1[3]) ? "1" : "0";
          answ += control(res.charAt(1), test.Q2[0], test.Q2[1], test.Q2[2], test.Q2[3]) ? "1" : "0";
          answ += control(res.charAt(2), test.Q3[0], test.Q3[1], test.Q3[2], test.Q3[3]) ? "1" : "0";
          answ += control(res.charAt(3), test.Q4[0], test.Q4[1], test.Q4[2], test.Q4[3]) ? "1" : "0";
          answ += control(res.charAt(4), test.Q5[0], test.Q5[1], test.Q5[2], test.Q5[3]) ? "1" : "0";

          showResult();
        }
      }

      function showResult() {
        var nok = 0;
        var i, s;

        for (i = 0; i < answ.length; i++) {
          nok += answ.charAt(i) == "1" ? 1 : 0;
        }
        if (nok == 5) s = "GREAT";
        if (nok < 5) s = "WELL";
        if (nok < 3.75) s = "SATISFACTORILY";
        if (nok < 2.5) s = "UNSATISFACTORY";
        document.test.s1.value = "Number of correct answers " + nok + ". Your mark " + s + ". Look at the window next to the question number. If the answer is correct, there (+). If the answer is wrong, there (-).";

        with (document.test) {
          if (answ.charAt(0) == "1") {
            T1.value = " + "
          } else {
            T1.value = " - "
          }
          ;
          if (answ.charAt(1) == "1") {
            T2.value = " + "
          } else {
            T2.value = " - "
          }
          ;
          if (answ.charAt(2) == "1") {
            T3.value = " + "
          } else {
            T3.value = " - "
          }
          ;
          if (answ.charAt(3) == "1") {
            T4.value = " + "
          } else {
            T4.value = " - "
          }
          ;
          if (answ.charAt(4) == "1") {
            T5.value = " + "
          } else {
            T5.value = " - "
          }
          ;
        }
      }

      function showhide(obj) {
        if (obj == 'none') return 'inline';
        else return 'none';
      }
    </script>

&nbsp;&nbsp;&nbsp;
<form class="test" name="test">
    <ol>
        <li><INPUT class="checker" type="text" size="1" value="" name="T1"/><b> Which place is from POKEMON?</b><br/>
            <label>
                <input type="radio" value="0" name="Q1"/> Leaf Village
            </label>
            <br/>
            <label>
                <input type="radio" value="1" name="Q1"/> Dimensia
            </label>
            <br/>
            <label>
                <input type="radio" value="2" name="Q1"/> Lavender Town
            </label>
            <br/>
            <label>
                <input type="radio" value="3" name="Q1"/> Pikachu Palace
            </label>
            <br/>
            <br/></li>
        <li><INPUT class="checker" type="text" size="1" value="" name="T2"/><b> Watch SHINZO?...What color is the main characters
            hair?</b><br/>
            <label>
                <input type="radio" value="0" name="Q2"/> Blue
            </label>
            <br/>
            <label>
                <input type="radio" value="1" name="Q2"/> Rainbow
            </label>
            <br/>
            <label>
                <input type="radio" value="2" name="Q2"/> Black
            </label>
            <br/>
            <label>
                <input type="radio" value="3" name="Q2"/> Red
            </label>
            <br/>
            <br/></li>
        <li><INPUT class="checker" type="text" size="1" value="" name="T3"/><b> Whats the name of the show that has the book that if you
            write a name in it, that person dies?</b><br/>
            <label>
                <input type="radio" value="0" name="Q3"/> Death book
            </label>
            <br/>
            <label>
                <input type="radio" value="1" name="Q3"/> KILLAZ
            </label>
            <br/>
            <label>
                <input type="radio" value="2" name="Q3"/> Godzilla
            </label>
            <br/>
            <label>
                <input type="radio" value="3" name="Q3"/> Inuyasha
            </label>
            <br/>
            <br/></li>
        <li><INPUT class="checker" type="text" size="1" value="" name="T4"/><b> How do you read MANGA?</b><br/>
            <label>
                <input type="radio" value="0" name="Q4"/> The book must be upside down
            </label>
            <br/>
            <label>
                <input type="radio" value="1" name="Q4"/> Backwards, but not every letter
            </label>
            <br/>
            <label>
                <input type="radio" value="2" name="Q4"/> \'Manga\' is what it\'s called now!?
            </label>
            <br/>
            <label>
                <input type="radio" value="3" name="Q4"/> Everytime a character speaks, you must skip it.
            </label>
            <br/>
            <br/></li>
        <li><INPUT class="checker" type="text" size="1" value="" name="T5"/><b> Whats the main character of \'Blue Dragon\"?</b><br/>
            <label>
                <input type="radio" value="0" name="Q5"/> Some little boy
            </label>
            <br/>
            <label>
                <input type="radio" value="1" name="Q5"/> NARUTO!!!!!
            </label>
            <br/>
            <label>
                <input type="radio" value="2" name="Q5"/> Balmung
            </label>
            <br/>
            <label>
                <input type="radio" value="3" name="Q5"/> Mew
            </label>
            <br/>
            <br/></li>
    </ol>
    <CENTER>
        <P><TEXTAREA class="textarea" name="s1" rows="4" cols="70" readonly> </TEXTAREA></P>
        <INPUT onclick="check_me()" type="button" value="Check" class="btnTest"/>&nbsp;&nbsp;&nbsp;&nbsp;
        <INPUT type="reset" value="Reset" class="btnTest"/>
    </CENTER>
</form>
</p>
    </div>
{% endblock test %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>
{% endblock %}